<div class="mb-10">
  <h1 class="mb-3 text-5xl font-semibold">Good <%= time_of_day(at: DateTime.current) %>, <%= current_user.name %></h1>
  <div class="text-xl font-medium text-gray-400">Welcome back</div>
</div>
